<form [formGroup]="searchForm">
  <div class="search">
    <input class="searchField" type="text" *myAdminIf="isAdmin"
           placeholder='User Name : ' formControlName="name">
    urlLong data :
    <input class="searchField" type="text"
           placeholder='Url data : ' formControlName="urlLong">
    Expiration Start Date :
    <input class="searchField" type="date"
           placeholder='Expiration Start date : ' formControlName="startDate">
    Expiration End Date :
    <input class="searchField" type="date"
           placeholder='Expiration End date : ' formControlName="endDate">
    <button class= "button2" (click)="onSearch(searchForm.value)"> Search </button>
  </div>
</form>

<app-custom-pagination
  [page]="page"
  (nextPageEvent)="getNextPage()"
  (previousPageEvent)="getPreviousPage()"
  (pageSizeEvent)="getPageInNewSize($event)">
</app-custom-pagination>

<div class="urlLinks" *ngIf="urlLinks">
  <table class="urlLinktab">
    <thead>
    <tr>
      <th class="shorten_cell">
        UrlLong
        <a (click)="sortUrl('urlLong', 'asc', 'UrlLong')">
          ^ </a>
        <a (click)="sortUrl('urlLong', 'desc', 'UrlLong')">
          v </a></th>
      <th class="short_cell1">
        UrlShort
        <a (click)="sortUrl('urlShortKey', 'asc', 'UrlShort')">
          ^ </a>
      <a (click)="sortUrl('urlShortKey', 'desc', 'UrlShort')">
          v </a></th>
<!--      <th class="short_cell">-->
<!--        Creation Date-->
<!--        <a (click)="sortUrl('creationDate', 'asc', 'Creation Date')">-->
<!--          ^ </a>-->
<!--      <a (click)="sortUrl('creationDate', 'desc', 'Creation Date')">-->
<!--          v </a></th>-->
      <th class="short_cell"> Password </th>
      <th class="short_cell">
        Expiration Date
        <a (click)="sortUrl('expirationDate', 'asc', 'Expiration Date')">
          ^ </a>
      <a (click)="sortUrl('expirationDate', 'desc', 'Expiration Date')">
          v </a></th>
      <th class="short_cell">
        Click Number
        <a (click)="sortUrl('clickNumber', 'asc', 'Click Number')">
          ^ </a>
      <a (click)="sortUrl('clickNumber', 'desc', 'Click Number')">
          v </a></th>
      <th class="short_cell">
        Update Date
          <a (click)="sortUrl('updateDate', 'asc','Update Date')">
          ^ </a>
      <a (click)="sortUrl('updateDate', 'desc','Update Date')">
          v </a></th>
      <th class="short_cell" *myAdminIf="accountService?.isAdmin">
        User
        <a (click)="sortUrl('appUser.name', 'asc', 'User')">
          ^ </a>
      <a (click)="sortUrl('appUser.name', 'desc', 'User')">
          v </a></th>
      <th class="short_cell1">      Edit               </th>
      <th class="short_cell1">      Delete             </th>
    </tr>
    </thead>
    <tr *ngFor="let urlLink of urlLinks; index as urlInd">
      <td class="shorten_cell">{{ urlLink?.urlLong }} </td>
      <td class="short_cell1"> <a href="{{ urlStart }}{{ urlLink?.urlShortKey }}">
        {{ urlStart }}{{ urlLink?.urlShortKey }} </a></td>
<!--      <td class="short_cell">{{ urlLink?.creationDate | date : 'dd/MM/yyyy' }}</td>-->
      <td class="passIN">
          <a *ngIf="urlLink.urlPassword && !shows[urlInd]" (click)="passwordShow(urlInd)" class="eyeImg">
              <img src="eye.png" class="icon7">
          </a>
          <p *ngIf="shows[urlInd]"> {{urlLink.urlPassword}} </p>
      </td>
      <td class="short_cell">{{ urlLink?.expirationDate | date : 'dd/MM/yyyy'}}</td>
      <td class="short_cell">{{ urlLink?.clickNumber }} / {{ urlLink?.maxClickNumber }} </td>
      <td class="short_cell">{{ urlLink?.updateDate  | date : 'dd/MM/yyyy' }}</td>
      <td class="short_cell" *myAdminIf="isAdmin">
          {{ urlLink.appUser?.firstName }} &nbsp;{{ urlLink.appUser?.name }} </td>
      <td class="editButton">
        <img src="pencilWhite.png" class="icon4" (click)="onEditUrlLink(urlLink)"
             [routerLink]="['url-update', urlInd]">
      </td>
      <td class="trashCanImg">
        <img src="trashGreen.png" class="icon3" (click)="onDeleteUrlLink(urlLink)">
      </td>
    </tr>
  </table>
</div>
