<form [formGroup]="searchForm">
  <div class="search">
    <input id="searchField" type="text"
           placeholder='Search data : ' formControlName="searchField">
    <button class= "button2" (click)="onSearch(searchForm.value)"> Search </button>
  </div>
</form>

<app-custom-pagination
  [page]="page"
  (nextPageEvent)="getNextPage()"
  (previousPageEvent)="getPreviousPage()"
  (pageSizeEvent)="getPageInNewSize($event)">
</app-custom-pagination>

<div class="urlLinks" *ngIf="urlLinks">
  <table>
    <thead>
    <tr>
      <th class="shorten_cell">
        <a (click)="sortUrl('urlLong', 'asc', 'UrlLong')">
            UrlLong ^ </a>
        <a (click)="sortUrl('urlLong', 'desc', 'UrlLong')">
            v </a></th>
      <th class="short_cell">
        <a (click)="sortUrl('urlShortKey', 'asc', 'UrlShort')">
            UrlShort ^ </a>
      <a (click)="sortUrl('urlShortKey', 'desc', 'UrlShort')">
            v </a></th>
      <th class="short_cell">
        <a (click)="sortUrl('creationDate', 'asc', 'Creation Date')">
            Creation Date ^ </a>
      <a (click)="sortUrl('creationDate', 'desc', 'Creation Date')">
            v </a></th>
      <th class="short_cell">
        <a (click)="sortUrl('expirationDate', 'asc', 'Expiration Date')">
            Expiration Date ^ </a>
      <a (click)="sortUrl('expirationDate', 'desc', 'Expiration Date')">
            v </a></th>
      <th class="short_cell">
        <a (click)="sortUrl('clickNumber', 'asc', 'Click Number')">
            Click Number ^ </a>
      <a (click)="sortUrl('clickNumber', 'desc', 'Click Number')">
            v </a></th>
      <th class="short_cell">
          <a (click)="sortUrl('updateDate', 'asc','Update Date')">
            Update Date ^ </a>
      <a (click)="sortUrl('updateDate', 'desc','Update Date')">
            v </a></th>
      <th class="short_cell" *myAdminIf="accountService?.isAdmin">
        <a (click)="sortUrl('appUser.name', 'asc', 'User')">
            User ^ </a>
      <a (click)="sortUrl('appUser.name', 'desc', 'User')">
            v </a></th>
      <th class="short_cell">      Edit               </th>
      <th class="short_cell">      Delete             </th>
    </tr>
    </thead>
    <tr *ngFor="let urlLink of urlLinks; index as urlInd">
      <td class="shorten_cell">{{ urlLink?.urlLong }} </td>
      <td class="short_cell"> <a href="{{ urlStart }}{{ urlLink?.urlShortKey }}">
        {{ urlStart }}{{ urlLink?.urlShortKey }} </a></td>
      <td class="short_cell">{{ urlLink?.creationDate | date : 'dd/MM/yyyy' }}</td>
      <td class="short_cell">{{ urlLink?.expirationDate | date : 'dd/MM/yyyy'}}</td>
      <td class="short_cell">{{ urlLink?.clickNumber }} / {{ urlLink?.maxClickNumber }} </td>
      <td class="short_cell">{{ urlLink?.updateDate  | date : 'dd/MM/yyyy' }}</td>
      <td class="short_cell" *myAdminIf="isAdmin">
        {{ urlLink.appUser?.firstName }} &nbsp;{{ urlLink.appUser?.name }} </td>
      <td class="editButton">
        <img src="pencilWhite.png" class="icon4" (click)="onEditUrlLink(urlLink)"
             [routerLink]="['url-update', urlInd]">
      </td>
      <td class="trashCanImg">
        <img src="trashGreen.png" class="icon3" (click)="onDeleteUrlLink(urlLink)">
      </td>
    </tr>
  </table>
</div>
