<form [formGroup]="searchForm">
  <div class="search">
    <input id="searchField" type="text"
           placeholder='Search data : ' formControlName="searchField">
    <button class= "button2" (click)="onSearch(searchForm.value)"> Search </button>
  </div>
</form>

<app-custom-pagination
  [page]="page"
  (nextPageEvent)="getNextPage()"
  (previousPageEvent)="getPreviousPage()"
  (pageSizeEvent)="getPageInNewSize($event)">
</app-custom-pagination>

<div class="urlLinks" *ngIf="urlLinks">
  <table>
    <thead>
    <tr>
      <th class="shorten_cell"> UrlLong                 </th>
      <th class="short_cell"> UrlShort                  </th>
      <th class="short_cell"> Creation Date             </th>
      <th class="short_cell"> Expiration Date           </th>
      <th class="short_cell"> Click Number              </th>
      <th class="short_cell"> Update Date               </th>
      <th class="short_cell" *myAdminIf="accountService?.isAdmin">
        User                    </th>
      <th class="short_cell">      Edit               </th>
      <th class="short_cell">      Delete             </th>
    </tr>
    </thead>
    <tr *ngFor="let urlLink of urlLinks; index as urlInd">
      <td class="shorten_cell">{{ urlLink?.urlLong }} </td>
      <td class="short_cell"> <a href="{{ urlStart }}{{ urlLink?.urlShortKey }}">
        {{ urlStart }}{{ urlLink?.urlShortKey }} </a></td>
      <td class="short_cell">{{ urlLink?.creationDate | date : 'dd/MM/yyyy' }}</td>
      <td class="short_cell">{{ urlLink?.expirationDate | date : 'dd/MM/yyyy'}}</td>
      <td class="short_cell">{{ urlLink?.clickNumber }} / {{ urlLink?.maxClickNumber }} </td>
      <td class="short_cell">{{ urlLink?.updateDate  | date : 'dd/MM/yyyy' }}</td>
      <td class="short_cell" *myAdminIf="isAdmin">
        {{ urlLink.appUser?.completeName }} </td>
      <td class="editButton">
        <img src="pencilWhite.png" class="icon4" (click)="onEditUrlLink(urlLink)"
             [routerLink]="['url-update', urlInd]">
      </td>
      <td class="trashCanImg">
        <img src="trashGreen.png" class="icon3" (click)="onDeleteUrlLink(urlLink)">
      </td>
    </tr>
  </table>
</div>
