
<div class="UserHomePage" *ngIf="accountService?.isLoggedIn; else loggedOut">

  <div class ="urlShort" *ngIf="callUrlLink">
    <h4> URLLink Created : </h4>
    <div class="URLLinkCreated">
      <p> <a href="{{ urlStart }}{{ urlLinkCreated?.urlShortKey }}">
        {{ urlStart }}{{ urlLinkCreated?.urlShortKey }}  </a></p>
    </div>
  </div>

  <div class="urlLong">
    <form [formGroup]="urlLinkFormUser">
      <div class="urlLongU">
        <input id="id" type="hidden" formControlName="id">
        <div class="urlFormL1">
          <div class="urlformLongcell">
            <p> &nbsp;Type URL to shorten : </p>
            <input class="urlLongField" type="text"
                   formControlName="urlLong">
          </div>
        </div>
        <div class="urlFormL2">
          <div class="urlformcell">
            <p> &nbsp;Expiration date : </p>
            <input class="urlLongform" type="date"
                   formControlName="expirationDate">
          </div>
          <div class="urlformcell">
            <p> &nbsp;Password for UrlLink : </p>
            <input class="urlLongform" type="password"
                   formControlName="appPassword">
          </div>
          <div class="urlformcell">
            <p> &nbsp;Maximum click number : </p>
            <input class="urlLongform" type="number"
                   formControlName="maxClickNumber">
          </div>
        </div>
        <div class="urlFormL3">
          <button class= "button" (click)="onCreateUrlLink(urlLinkFormUser.value)">
            Create </button>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template class="GuestHomePage" #loggedOut>
  <div class="guestP">
    <div class ="urlShort" *ngIf="callUrlLink">
      <h4> URLLink Created : </h4>
      <div>
        <p class="URLLinkCreated"> <a href="{{ urlStart }}{{ urlLinkCreated?.urlShortKey }}">
          {{ urlStart }}{{ urlLinkCreated?.urlShortKey }}  </a></p>
      </div>
    </div>

    <form [formGroup]="urlLinkForm">
      <p> &nbsp; &nbsp; Type Url to shorten : </p>
      <div class="urlGuest">
        <input class="urlLongField" type="text" formControlName="urlLong">
        <button class= "button" (click)="onURLForGuest(urlLinkForm.value)"> Reduce URL </button>
      </div>
    </form>
  </div>
</ng-template>


