<div class="page-title">
  <h1> URL Shortener Service </h1>
</div>

<div class="jumbotron">
  <p> This Application will allow you to shorten your URL.
   It is provided by BNP Paribas as a secure approved tool.
   Do not use for any personal reason </p>
</div>

<div class="nav-tab">
  <div>
    <a routerLink=""> HOME </a>
  </div>
  <div>
    <a routerLink="login"> SIGN IN </a>
  </div>

  <!-- Show only once connected-->
  <section *ngIf="accountService?.isLoggedIn" class="loginInfo">
    <div class="admin" *myAdminIf="accountService?.isAdmin">
      <a routerLink="user-management"> USERS MANAGEMENT </a>
    </div>

    <div class ="login">
      <p> {{ accountService.loginAuthoLevel?.loginCon }}
       {{accountService.loginAuthoLevel?.authoLevel}}</p>
    </div>
    <div class="disconnect">
      <a id="disconnect" (click)="disconnect()" routerLink=""> Disconnect </a>
    </div>
  </section>
</div>
