<h1> URL Shortener Service </h1>

<head><link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet"></head>

<div class="Bar-control">

  <div class="center">
      <button class="buttonList" routerLink=""> URLLink </button>
  </div>
  <div class="center">
    <button class="buttonList" routerLink="login"> SIGN-IN </button>
  </div>
</div>

<!-- Show only once connected-->
<section *ngIf="accountService?.isLoggedIn">
  <div class="admin" *myAdminIf="accountService?.isAdmin">
       <button class="buttonList" routerLink="user-management"> Users Management </button>
  </div>

    <div class ="login">
        <p> Login :  {{ accountService.loginAuthoLevel?.loginCon }} </p>
        <p> AuthoLevel : {{accountService.loginAuthoLevel?.authoLevel}}</p>
    </div>
    <div class="disconnect">
      <button id="disconnect" (click)="disconnect()" routerLink=""> Disconnect </button>
    </div>
</section>

