<div class="signature">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="sign">
      <p> &nbsp; User uid </p>
      <input class="loginform" type="text"
             placeholder="" formControlName="login" required>

      <!--check error on field :
   -when the user submits the form  -->
      <div *ngIf="isSubmitted && loginForm.get('login').error || loginForm.get('login').touched">
        <div *ngIf="loginForm.get('login').required" class="error">
          Login must be provided
        </div>
      </div>

      <p> &nbsp; User password </p>
      <input class="loginform" type="password"
             placeholder="" formControlName="password" required>
      <!--check error on field :
-when the user submits the form  -->
      <div *ngIf="isSubmitted && loginForm.get('password').error || loginForm.get('password').touched">
        <div *ngIf="loginForm.get('password').required" class="error">
          Password must be provided
        </div>
      </div>
      <p></p>
      <button class= "loginform" type="submit"> Sign In </button>
    </div>

  </form>
</div>

