<div class="signature">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="sign">
      <p> &nbsp; User uid </p>
      <input class="loginform" type="text"
             placeholder="" formControlName="login" required>
      <p> &nbsp; User password </p>
      <input class="loginform" type="password"
             placeholder="" formControlName="password" required>
      <p></p>
      <button class= "loginform" type="submit"> Sign In </button>
    </div>

  </form>
</div>

