<div class="admin" *myAdminIf="accountService?.isAdmin">
  <form [formGroup]="searchForm">
    <div class="search">
      <input id="searchField" type="text"
             placeholder='Search data : ' formControlName="searchField">
      <button class= "button2" (click)="onSearch(searchForm.value)"> Search </button>
    </div>
  </form>

  <app-custom-pagination
    [page]="page"
    (nextPageEvent)="getNextPage()"
    (previousPageEvent)="getPreviousPage()"
    (pageSizeEvent)="getPageInNewSize($event)">
  </app-custom-pagination>

  <table *ngIf="appUsersAutho">
    <thead>
    <tr>
      <th class="medium_cell"> Login             </th>
      <th class="medium_cell"> Complete name     </th>
      <th class="medium_cell"> Current Role      </th>
      <th class="medium_cell"> Role Management   </th>
      <th class="medium_cell">                   </th>
    </tr>
    </thead>
    <tr *ngFor="let appUserAutho of appUsersAutho; index as ind">
      <td class="medium_cell"> {{ appUserAutho.appUser?.uid }} </td>
      <td class="medium_cell"> {{ appUserAutho.appUser?.firstName }} &nbsp;{{ appUserAutho.appUser?.name }} </td>
      <td class="medium_cell"> {{ appUserAutho?.highestAuthorityLevel }} </td>
      <td class="medium_cell">
        <form [formGroup]="authoLevelForm">
          <select id="authoLevelSelect" formControlName="authoLevel"
                  (change)="authoLevelSelectChange($event.target.value,
                  appUserAutho?.appUser)">
            <option [value]="'ROLE_USER'">
              ROLE_USER </option>
            <option [value]="'ROLE_ADMIN'">
              ROLE_ADMIN </option>
          </select>
        </form>
      </td>
      <td class="trashCanImg">
          <img src="trashGreen.png" class="icon1" (click)="onDeleteUser(appUserAutho)">
      </td>
    </tr>
  </table>
</div>

