<div class="admin" *myAdminIf="accountService?.isAdmin">
  <form [formGroup]="searchForm">
    <div class="search">
      <input id="searchField" type="text"
             placeholder='Search data : ' formControlName="searchField">
      <button class= "button" (click)="onSearch(searchForm.value)"> Search </button>
    </div>
  </form>

  <table *ngIf="appUsersAndHighestAutho">
    <thead>
    <tr>
      <th class="medium_cell"> Login             </th>
      <th class="medium_cell"> Complete name     </th>
      <th class="medium_cell"> Current Role      </th>
      <th class="medium_cell"> Role Management   </th>
      <th class="medium_cell">                   </th>
    </tr>
    </thead>
    <tr *ngFor="let appUserAutho of pagedItems; let ind = index">
      <td> {{ appUserAutho.appUserLocal.appUser?.uid }} </td>
      <td> {{ appUserAutho.appUserLocal.appUser?.completeName }} </td>
      <td> {{ appUserAutho.appUserLocal?.highestAuthorityLevel }} </td>
      <td>
        <form [formGroup]="authoLevelForm">
          <select id="authoLevelSelect" formControlName="authoLevel"
                  (change)="authoLevelSelectChange($event.target.value,
                  appUserAutho.appUserLocal?.appUser)">
            <option [value]="appUserAutho.appUserLocal.highestAuthorityLevel">
              {{ appUserAutho.appUserLocal?.highestAuthorityLevel }} </option>
            <option [value]="appUserAutho.authoLevelChange">
              {{ appUserAutho?.authoLevelChange }} </option>
          </select>
        </form>
      </td>
      <td class="trashCanImg">
          <img src="trashGreen.png" class="icon1" (click)="onDeleteUser(appUserAutho)">
      </td>
    </tr>
  </table>
  <!-- pager *******************-->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
  <!--*******************************-->
</div>

