/* You can add global styles to this file, and also import other style files */

body{
  background-color: rgba(32, 199, 167, 0.99);
  opacity: 0.7;
  color: white;

}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

a {
  color: white;
  cursor: pointer;
  margin: 2%;
}
img{
  font-size: larger;
  cursor: pointer;
}
h4{
  font-size: larger;
  color: darkblue;
}
.page-header,
.jumbotron{
  background-color: rgba(32, 199, 167, 0.99);
  border: none;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin: 2% 3% 3% 2%;
  padding: 0;
}
.identification{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 14px;
  width: 100%;
}
.signin {
  margin-right: 1%;
  margin-top: 1%;
  text-align: right;
}

connectImg{
  background-image: url("src/app/icons/loginButton.png");
  background-repeat: no-repeat;
}
disconnectImg{
  background-image: url("src/app/icons/logoutButton.png");
  background-repeat: no-repeat;
}

.icon1{
  width: 15%;
  height: 20%;
  border-radius: 8px;
}
.icon2{
  width: 9%;
  height: 9%;
  border-radius: 8px;
}
.icon3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 25%;
  border-radius: 6px;
  padding-right: 2%;
  padding-left: 2%;
}
.icon4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 25%;
  padding-right: 2%;
  padding-left: 2%;
}
.icon5{
  width: 6%;
  height: 6%;
  border-radius: 6px;
  padding-right: 2%;
  padding-left: 2%;
}
.icon6{
  width: 6%;
  height: 6%;
  border-radius: 6px;
  padding-right: 2%;
  padding-left: 2%;
}
.icon7{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 40%;
  padding-right: 2%;
  padding-left: 2%;
}

nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-inline-start: 1em;
  font-size: xx-large;
  font-weight: bolder;
  list-style-type: none;
  white-space : nowrap;
  margin: 2%;
}
li{
  padding: 2%;
}

.connected {
  display: flex;
  flex-direction: row;
}

.nav-capt2{
  margin: 4%;
}
.urlGuest{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}

.sign,
.urlPassW,
.guestP{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  color: darkcyan;
  margin: 3%;
  font-weight: bolder;
  font-size: medium;
}
table{
  padding: 1%;
}

.urlLong{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  color: darkcyan;
  margin-left: 0%;
  margin-right: 0%;
  font-weight: bolder;
  font-size: medium;
}

.urlFormL2,
.urlFormL3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 4%;
  width: 100%;
}
.urlFormL1{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-left: 0%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding-left: 0%;

}

.urlformLongcell{
  width: 100%;
}
.urlformcell{
  margin: 1%;
}
.UserHomePage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: x-large;
}
.urlLongU>button{
  margin-left: 38.5%;
}

.urlLongField {
  margin: 1%;
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 5px;
}

.loginform,
.urlPassForm,
.urlLongform{
  margin: 3%;
  border: none;
  height: 40px;
  width: 250px;
  border-radius: 5px;
}

.button{
  margin: 1%;
  border: none;
  height: 40px;
  width: 250px;
  border-radius: 5px;
}
.button2{
  margin-left: 2%;
  padding: 0;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  color: darkcyan;
  font-size: medium;
}
.button3{
  display: block;
  margin: 3% auto 0;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  color: darkcyan;
}

.shorten_cell{
  overflow: auto;
  white-space: nowrap;
  max-width: 350px;
}

.short_cell,
.short_cell1{
  justify-content: center;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding-right: 1%;
  padding-left: 1%;
}

.urlShort {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 7%;
}
.URLLinkCreated>a{
  color: white;
}
.urlLinks{
  margin-bottom: 2%;
}
.admin{
  display: flex;
  flex-direction: column;
  text-align: left;
  color: darkslategray;
  margin: 0%;
  padding: 0%;
  font-weight: normal;

}
.search{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0.5%;
}

.searchField{
  margin-right: 1.5%;
  margin-bottom: 1%;
  height: 40px;
  width: 90%;
  border-radius: 8px;
  font-size: medium;
  color: darkcyan;
}

.passIN{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

th, td{
  color: white;
}
th {
  font-size: 22px;
  height: 80px;
}
td {
  font-size: 18px;
}
#authoLevelSelect{
  color: lightseagreen;
}
.medium_cell{
  width: 200px;
  height: 40px;
  padding-right: 2%;
  padding-left: 2%;
  white-space: nowrap;
}
.pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 0.30%;
  margin-top: 0%;
}
tr:nth-child(even) {
  background-color: lightseagreen;
}
trashCanImg{

  background-image: url("src/app/icons/trashGreen.png");
  background-repeat: no-repeat;
}
editButton{

  background-image: url("src/app/icons/pencilWhite.png");
  background-repeat: no-repeat;
}
eyeImg{
  background-image: url("src/app/icons/eye.png");
  background-repeat: no-repeat;
}
chevronGauche{

  background-image: url("src/app/icons/chevronGaucheVert.png");
  background-repeat: no-repeat;
}
chevronDroite{

  background-image: url("src/app/icons/chevronDroitVert.png");
  background-repeat: no-repeat;
}

.chevrons{
  display: flex;
  flex-wrap: nowrap;
}
.pageE{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: larger;

}
.pagetxt{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  color: darkcyan;
  width: 15%;
}

.pageEl{
  color: darkcyan;
  width: 2.5%;
  height: 2%;
  padding: 0;
  margin: 0;
}
.pageEl2>a{
  margin: 0;
  padding: 3%;
  color: darkcyan;
}
#ElementPerPage{
  color: darkcyan;
}

.error{
  color: red;
  font-weight: normal;
}
@media screen and (max-width: 1366px) {
  body {
    width: 100%;
    height : 100%;
  }

  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 1em;
    font-size: xx-large;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .short_cell{
    display: none;
  }

  .medium_cell{
    width: 10px;
    height: 20px;
    padding-right: 0.5%;
    padding-left: 0.5%;
    white-space: normal;
  }
  .urlLongField{
    width: 100%;
  }
  .urlLongform{
    border: none;
    height: 40px;
    width: 300px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1024px) {
  nav > ul {
    font-size: x-large;
  }

  .urlLongform{
    border: none;
    height: 40px;
    width: 200px;
    border-radius: 5px;
  }

}
@media screen and (max-width: 560px)
{
  body {
    width: 95%;
    height : 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1{
    font-size: smaller;
  }
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 1em;
    font-size: large;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
  }

  .jumbotron>p{
    font-size: small;
  }

  .urlFormL1,
  .urlFormL2,
  .urlGuest{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .urlLongField,
  .urlLongform{
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    margin: 0% 0% 2%;
  }
}
