<h1> URL Shortener Service </h1>

<head><link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet"></head>

<!-- <div class="Bar-control">

    <div class="center">
      <button id="buttonList" routerLink=""> Back to Welcome page </button>
    </div>

    <div class="center" *ngIf="isLoggedInservice.isLoggedIn">
      <button id="buttonList" routerLink="user-profile"> User Profile </button>
      <button id="buttonList" routerLink="url-management"> Url Management </button>
        <div class="admin" *ngIf="Iswebmaster"> 
            <button id="buttonList" routerLink="user-profile"> Users Management </button>
            <button id="buttonList" routerLink="user-profile"> Urls Management </button>
        </div>
    </div>
  </div> -->

  <!-- Show only once connected-->

  <!-- <ng-template [ngIf]="isLoggedInservice.isLoggedIn">
    <div class ="login">
        <p> Login :  {{ isLoggedInservice.userLogin }} </p>  
    </div>
    <div class="disconnect">
      <button id="disconnect" (click)="disconnect()" routerLink=""> Disconnect </button>
    </div>

  </ng-template> -->

